{{template "base/head" .}}
<div class="user settings applications">
	{{template "user/settings/navbar" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<h4 class="ui top attached header">
			{{.i18n.Tr "settings.edit_oauth2_application"}}
		</h4>
		<div class="ui attached segment">
			<p>{{.i18n.Tr "settings.oauth2_application_create_description"}}</p>
		</div>
		<div class="ui attached segment form ignore-dirty">
			{{.CsrfTokenHtml}}
			<div class="field">
				<label for="client-id">{{.i18n.Tr "settings.oauth2_client_id"}}</label>
				<input id="client-id" readonly value="{{.App.ClientID}}">
			</div>
			{{if .ClientSecret}}
				<div class="field">
					<label for="client-secret">{{.i18n.Tr "settings.oauth2_client_secret"}}</label>
					<input id="client-secret" type="text" readonly value="{{.ClientSecret}}">
				</div>
			{{else}}
				<div class="field">
					<label for="client-secret">{{.i18n.Tr "settings.oauth2_client_secret"}}</label>
					<input id="client-secret" type="password" readonly value="averysecuresecret">
				</div>
			{{end}}
			<div class="item">
				<!-- TODO add regenerate secret functionality */ -->
				{{.i18n.Tr "settings.oauth2_regenerate_secret_hint"}}
				<form class="ui form ignore-dirty" action="{{AppSubUrl}}/user/settings/applications/oauth2/{{.App.ID}}/regenerate_secret" method="post">
					{{.CsrfTokenHtml}}
					<a href="#" onclick="event.target.parentNode.submit()">{{.i18n.Tr "settings.oauth2_regenerate_secret"}}</a>
				</form>
			</div>
		</div>
		<div class="ui attached bottom segment">
			<form class="ui form ignore-dirty" action="{{AppSubUrl}}/user/settings/applications/oauth2/{{.App.ID}}" method="post">
				{{.CsrfTokenHtml}}
				<div class="field {{if .Err_AppName}}error{{end}}">
					<label for="application-name">{{.i18n.Tr "settings.oauth2_application_name"}}</label>
					<input id="application-name" value="{{.App.Name}}" name="application_name" required>
				</div>
				<div class="field {{if .Err_RedirectURI}}error{{end}}">
					<label for="redirect-uri">{{.i18n.Tr "settings.oauth2_redirect_uri"}}</label>
					<input type="url" name="redirect_uri" value="{{.App.PrimaryRedirectURI}}" id="redirect-uri">
				</div>
				<button class="ui green button">
					{{.i18n.Tr "settings.save_application"}}
				</button>
			</form>
		</div>
	</div>
</div>

<div class="ui small basic delete modal" id="delete-oauth2-application">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.i18n.Tr "settings.remove_oauth2_application"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "settings.remove_oauth2_application_desc"}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>

{{template "base/footer" .}}
