{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<img width="75%" src="{{AppSubUrl}}/img/logo.svg"/><br>
			<a href="/user/sing_up"><button style='border-radius:50vh;' class="ui button huge blue">{{.i18n.Tr "auth.sign_up_now" | Str2html}}</button></a>
		</div>
	</div>
	{{if eq .Lang "undefined"}}
		<div class="ui stackable middle very relaxed page grid">
		</div>
	{{else}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="header">
					Give your free project a free home.
				</h1>
				<p class="large">
					Collaboration platform and git hosting for free and open source software, content, projects.
					<a href="https://blog.codeberg.org/codebergorg-launched.html">⇢Our mission statement.</a>
				</p>
				<p class="large">
					Independent and powered by your donations and contributions.

				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="header">
					No tracking. Your data is not for sale.
				</h1>
				<p class="large">
					All services run on servers under our control. No dependencies on external services. No third party cookies, no tracking.
				</p>
				<p class="large">
					Hosted in the EU, we welcome the world.
				</p>
			</div>
		</div>
	{{end}}
</div>
{{template "base/footer" .}}
